on:
  create:
  
jobs:
  init:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        name: Setup .Net 6
        with:
          dotnet-version: 6.0
      - run: dotnet new webapi -lang C# -o .
      - name: Update Repository
        run: |
          git config --global user.name 'Github Actions'
          git config --global user.email 'devops-team@users.noreply.github.com'
          git add .
          git commit -m "Automated project creation"
          git push
    
